.recipebook-root {
    display: flex;
    flex-direction: column;
}

.recipebook-title {
    font-size: 22px;
}

.recipebook-button {
    background-color: #86b3d1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}

.recipebook-recipes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recipebook-recipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #844D36;
    border: solid;
    border-color: #8e8268;
    border-width: 2px;
    margin: 10px;
    padding: 15px 30px;
}

.recipebook-recipe-name {
    text-align: left;
    font-size: 18px;
    color: #AAA0A0;
}

.recipebook-recipe-author {
    text-align: left;
    font-size: 14px;
    color: #AAA0A0;
}