.recipebook-root {
    display: flex;
    flex-direction: column;
}

.recipebook-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.recipebook-recipes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}