.navigation-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-right: 20px;
    border-width: 0;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin:4px;
    cursor: default;
}

.navitem-icon {
    margin-right: 10px;
    fill: gray;
    width: 30px;
    height: 30px;
}

.navitem-title {
    font-size: 20px;
    color: gray;
}

.navitem-icon, .navitem-title {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

a:hover .navitem-title , 
.navitem-root-selected  .navitem-title {
    font-size: 24px;
    color: black;
}

a:hover .navitem-icon,
.navitem-root-selected .navitem-icon {
    fill: black;
    width: 40px;
    height: 40px;
}