.App {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100vh;
}

.App-leftMenu {
  max-width: 200px;
  position: sticky;
  flex: 0 0 25%;
  vertical-align: middle;
}

.App-content {
  flex: 0 0 75%;
  max-width: 75%;
}